body{
    background-color: darkmagenta;
}


.form1{
background-color: chartreuse;

}
.form2{
    background-color:rgb(41, 196, 41)
}
.form3{
    background-color:rgb(162, 196, 41)
}
.form4{
    background-color:rgb(122, 80, 161)
}